<!-- <nav class="navbar navbar-light ">
  <div class="container-fluid">
      <p class="welcome-text">ᗯᗴᒪᑕᗝᗰᗴ </p>
      <p>ABC BANK</p>
      <p class="center-text">Calculated. signed. delivered!</p>
  </div>
</nav>
<div><hr></div> -->
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand brand" href="">ABC BANK</a>
  <h5 class="nav-content">Welcome To Internet Banking</h5>
  <ul class="navbar-nav  ms-auto">
    <li class="nav-item" >
      <button id="btn" (click)="toInfoPage()" class = "btn btn-success"  type="submit">Login</button>
    </li>
  </ul>
</nav>
<div class="outlineOfDiv"></div>

<!-- (click)="toInfoPage()" -->
