.loginHolderMain {
  display:flex;
  align-items: center;
  justify-content: center;
}
.loginHolder {
  width: 500px !important;
}
form {
  background-color: blanchedalmond;
  margin: 20px;
  padding: 30px;
}
