.billPaymentRegistrationHolderMain {
  display: flex;
  align-items: center;
  justify-content: center;
}
.billPaymentRegistrationHolder {
  width: 500px;
}
label {
  font-size: 20px;
}
.termsAndConditions{
  text-decoration: underline;
}
.declaration {
  text-align: justify;
}
