<div *ngIf="accountDetails">
  <div class="billPaymentRegistrationHolderMain">
    <div class="billPaymentRegistrationHolder">
      <form #paymentForm="ngForm" (ngSubmit)="makePayment()">
        {{ paymentForm.value | json }}
        <div class="form-group">
          <label for="accountNumber">Account Number : </label>
          <select
            (change)="getBalance()"
            [(ngModel)]="accountSelected"
            class="form-select form-select-lg mb-3"
            aria-label=".form-select-lg example"
            name="accountNumber"
          >
            <option
              *ngFor="let dir of accountDetails"
              [value]="dir.accountNumber"
            >
              {{ dir.accountNumber }}
            </option>
          </select>
        </div>
        <h1>{{ accountBalance }}</h1>
          <div class="form-group">
            <label for="accountNumber">Biller </label>
            <select
              (change)="getDueAmount()"
              [(ngModel)]="billerSelected"
              class="form-select form-select-lg mb-3"
              aria-label=".form-select-lg example"
              name="billerName"
            >
              <option *ngFor="let dir of biller" [value]="dir.billerId">
                {{ dir.billerName }}
              </option>
            </select>
          </div>
          {{dueAmount}}
          <div class="form-group">
            <label for="payingAmount">Paying Amount</label>
            <input
              required
              type="number"
              class="form-control"
              name="payingAmount"
              [(ngModel)]="payingAmount"
            />
          </div>

          <div class="form-group" (change)="checkPayNow()">
            <label for="status">Pay Now ?: </label>&nbsp;&nbsp;
            <input
              class="form-check-input"
              type="radio"
              value="yes"
              name="payingNow"
              [(ngModel)]="payingNow"
            />
            <label class="form-check-label" for="flexRadioDefault1"> Yes </label
            >&nbsp;&nbsp;
            <input
              class="form-check-input"
              type="radio"
              value="no"
              name="payingNow"
              [(ngModel)]="payingNow"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              No
            </label>
          </div>
          <div class="form-group" *ngIf="payingNow=='no'">
            <label for="paymentDueDate">Payment Due Date</label>
            <input type="date" [(ngModel)]="paymentDueDate" name="paymentDueDate" class="input-group date">
          </div>

        <button class="btn btn-success" type="submit">Submit</button
        >&nbsp;&nbsp;
        <button class="btn btn-danger" routerLink="/paymentMenu">Cancel</button>
      </form>
    </div>
  </div>
</div>
